.hero{
    margin-bottom: 214px;
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 30px;
    }
    &-content{
        width: 100%;
        max-width: 445px;
    }
    &-heading{
        font-weight: bold;
        font-size: 48px;
        line-height: 117%;
        margin-bottom: 25px;
        color: $black;
    }
    &-desc{
        font-size: 21px;
        line-height: 152%;
        margin-bottom: 45px;
    }
    @media screen and (max-width: 1023.98px) {
        margin-bottom: 100px;
        &-heading{
            font-size: 40px;
        }
    }
    @media screen and (max-width: 767.98px) {
        &-main{
            flex-direction: column;
            gap: 40px 0;
        }
        &-heading{
            font-size: 35px;
        }
        &-desc{
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: 767.98px) {
        margin-bottom: 50px;
    }
    
}